<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.etecia.menujoguinho">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".TesteToolBar_activity"></activity>
        <activity android:name=".Polo_Activity" />
        <activity android:name=".Pice_Activity" />
        <activity android:name=".Parajas_Activity" />
        <activity android:name=".Nhara_Activity" />
        <activity android:name=".Mutin_Activity" />
        <activity android:name=".JururaAcu_Activity" />
        <activity android:name=".Jurupari_Activity" />
        <activity android:name=".Guaraci_Activity" />
        <activity android:name=".Ceuci_Activity" />
        <activity android:name=".Caupe_Activity" />
        <activity android:name=".Catu_Activity" />
        <activity android:name=".Carandiro_Activity" />
        <activity android:name=".Caramuru_Activity" />
        <activity android:name=".Caapora_Activity" />
        <activity android:name=".Arape_Activity" />
        <activity android:name=".Araci_Activity" />
        <activity android:name=".Anhum_Activity" />
        <activity android:name=".Anhanga_Activity" />
        <activity android:name=".Amanaci_Activity" />
        <activity android:name=".Abeguar_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>